.1_3 { 
	overflow: hidden;
}


.e1_3 { 
	background-color: rgba(255, 255, 255, 1);
	width: 1824px;
	height: 2339px;
	position: absolute;
}

.e2_12 { 
	background-color: rgba(0, 0, 0, 0.20000000298023224);
	width: 362px;
	height: 362px;
	position: absolute;
	left: 220px;
	top: 452px;
	background-image: url(images/26318ed3_950b_409c_8e14_74d7d7ee1167_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e2_20 { 
	color: rgba(0, 0, 0, 1);
	width: 592px;
	height: 606px;
	position: absolute;
	left: 660px;
	top: 522px;
	font-family: Mansalva;
	text-align: center;
	font-size: 50px;
	letter-spacing: -2;
	line-height: px;
}

.e2_19 { 
	width: 206px;
	height: 198px;
	position: absolute;
	left: 1313px;
	top: 465px;
	background-image: url(images/fuji_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e2_17 { 
	transform: rotate(89.3722262483754deg);
	width: 237px;
	height: 225px;
	position: absolute;
	left: 444.9864807128906px;
	top: 956px;
	background-image: url(images/airplane_2_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e2_16 { 
	width: 529px;
	height: 374px;
	position: absolute;
	left: 181px;
	top: 1377px;
	background-image: url(images/cd678a29_524e_41bc_a9b1_21c180f66f13_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e2_15 { 
	width: 295px;
	height: 289px;
	position: absolute;
	left: 1313px;
	top: 931px;
	background-image: url(images/834a3e8d_b119_4436_881a_11aa416434f3_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e2_21 { 
	color: rgba(0, 0, 0, 1);
	width: 657px;
	height: 370px;
	position: absolute;
	left: 932px;
	top: 1400px;
	font-family: Aclonica;
	text-align: center;
	font-size: 50px;
	letter-spacing: -2;
	line-height: px;
}

.e2_18 { 
	transform: rotate(0.02686779597616538deg);
	width: 304.4078063964844px;
	height: 297.88995361328125px;
	position: absolute;
	left: 1403.1396484375px;
	top: 1949px;
	background-image: url(images/green_planet_1.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.e2_42 { 
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: rgba(0, 0, 0, 0.25);
	width: 627px;
	height: 200.18536376953125px;
	position: absolute;
	left: 132px;
	top: 2042px;
}

.e2_43 { 
	width: 627px;
	height: 62.59267044067383px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e2_44 { 
	width: 350px;
	height: 62.59267044067383px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e2_45 { 
	color: rgba(99.00000169873238, 115.00000074505806, 129.00000751018524, 1);
	width: 117px;
	height: 17.883405685424805px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Inter;
	text-align: left;
	font-size: 13px;
	letter-spacing: 0;
	line-height: px;
}

.e2_46 { 
	color: rgba(99.00000169873238, 115.00000074505806, 129.00000751018524, 1);
	width: 111px;
	height: 17.883405685424805px;
	position: absolute;
	left: 0px;
	top: 35.76655197143555px;
	font-family: Inter;
	text-align: left;
	font-size: 13px;
	letter-spacing: 0;
	line-height: px;
}

.2_47 { 
	border: 1px solid rgba(255, 255, 255, 1);
}

.e2_47 { 
	width: 350px;
	height: 0px;
	position: absolute;
	left: 0px;
	top: 62.59267044067383px;
}

.e2_48 { 
	width: 350px;
	height: 62.59267044067383px;
	position: absolute;
	left: 277px;
	top: 0px;
}

.e2_49 { 
	color: rgba(99.00000169873238, 115.00000074505806, 129.00000751018524, 1);
	width: 173px;
	height: 17.883405685424805px;
	position: absolute;
	left: 0px;
	top: 31.29553985595703px;
	font-family: Inter;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0;
	line-height: px;
}

.e2_50 { 
	color: rgba(99.00000169873238, 115.00000074505806, 129.00000751018524, 1);
	width: 49px;
	height: 17.883405685424805px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Inter;
	text-align: left;
	font-size: 13px;
	letter-spacing: 0;
	line-height: px;
}

.2_51, .2_56, .2_60 { 
	border: 1px solid rgba(255, 255, 255, 1);
}

.e2_51, .e2_56, .e2_60 { 
	width: 350px;
	height: 0px;
	position: absolute;
	left: 0px;
	top: 62.59267044067383px;
}

.e2_52 { 
	width: 625px;
	height: 62.59269332885742px;
	position: absolute;
	left: 1px;
	top: 137.59266662597656px;
}

.e2_53 { 
	width: 350px;
	height: 62.59269332885742px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.e2_54 { 
	color: rgba(99.00000169873238, 115.00000074505806, 129.00000751018524, 1);
	width: 173px;
	height: 17.883405685424805px;
	position: absolute;
	left: 0px;
	top: 31.295434951782227px;
	font-family: Inter;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0;
	line-height: px;
}

.e2_55 { 
	color: rgba(99.00000169873238, 115.00000074505806, 129.00000751018524, 1);
	width: 60px;
	height: 17.883405685424805px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Inter;
	text-align: left;
	font-size: 13px;
	letter-spacing: 0;
	line-height: px;
}

.e2_57 { 
	width: 350px;
	height: 62.59269332885742px;
	position: absolute;
	left: 275px;
	top: 0px;
}

.e2_58 { 
	color: rgba(99.00000169873238, 115.00000074505806, 129.00000751018524, 1);
	width: 173px;
	height: 17.883405685424805px;
	position: absolute;
	left: 0px;
	top: 31.295434951782227px;
	font-family: Inter;
	text-align: left;
	font-size: 15px;
	letter-spacing: 0;
	line-height: px;
}

.e2_59 { 
	color: rgba(99.00000169873238, 115.00000074505806, 129.00000751018524, 1);
	width: 223px;
	height: 17.883405685424805px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Inter;
	text-align: left;
	font-size: 13px;
	letter-spacing: 0;
	line-height: px;
}

.e2_27 { 
	width: 303px;
	height: 155.7714385986328px;
	position: absolute;
	left: 1023px;
	top: 1920px;
}

.e2_28 { 
	color: rgba(0, 0, 0, 1);
	width: 242px;
	height: 40.055843353271484px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Inria Serif;
	text-align: left;
	font-size: 25px;
	letter-spacing: 0;
}

.e2_29 { 
	color: rgba(0, 0, 0, 1);
	opacity: 0.800000011920929;
	width: 303px;
	height: 105.92545318603516px;
	position: absolute;
	left: 0px;
	top: 49.84593200683594px;
	font-family: Aclonica;
	text-align: left;
	font-size: 16px;
	letter-spacing: -2;
	line-height: px;
}

.e2_22 { 
	width: 164px;
	height: 157.55328369140625px;
	position: absolute;
	left: 874px;
	top: 2024px;
}

.e2_23 { 
	color: rgba(0, 0, 0, 1);
	width: 136px;
	height: 35.60519027709961px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Inter;
	text-align: justified;
	font-size: 25px;
	letter-spacing: -2;
}

.e2_24 { 
	color: rgba(0, 0, 0, 1);
	opacity: 0.800000011920929;
	width: 135px;
	height: 20.47298812866211px;
	position: absolute;
	left: 0px;
	top: 53.40803146362305px;
	font-family: Inter;
	text-align: justified;
	font-size: 16px;
	letter-spacing: -2;
}

.e2_25 { 
	color: rgba(0, 0, 0, 1);
	opacity: 0.800000011920929;
	width: 159px;
	height: 20.47298812866211px;
	position: absolute;
	left: 0px;
	top: 95.24372100830078px;
	font-family: Inter;
	text-align: justified;
	font-size: 16px;
	letter-spacing: -2;
}

.e2_30 { 
	width: 374px;
	height: 303px;
	position: absolute;
	left: 423px;
	top: 1949px;
}

.e2_31 { 
	color: rgba(0, 0, 0, 1);
	width: 295px;
	height: 35.60519027709961px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Inria Serif;
	text-align: left;
	font-size: 25px;
	letter-spacing: 0;
}

.e2_32 { 
	color: rgba(0, 0, 0, 1);
	opacity: 0.800000011920929;
	width: 374px;
	height: 190.9254608154297px;
	position: absolute;
	left: 0px;
	top: 47.67973327636719px;
	font-family: Aclonica;
	text-align: left;
	font-size: 16px;
	letter-spacing: -2;
	line-height: px;
}

.e2_33 { 
	width: 374px;
	height: 370px;
	position: absolute;
	left: 932px;
	top: 1400px;
}

.e2_34 { 
	color: rgba(0, 0, 0, 1);
	width: 295px;
	height: 35.60519027709961px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Aclonica;
	text-align: left;
	font-size: 25px;
	letter-spacing: 0;
}

.e2_35 { 
	color: rgba(0, 0, 0, 1);
	opacity: 0.800000011920929;
	width: 374px;
	height: 285px;
	position: absolute;
	left: 0px;
	top: 47.67973327636719px;
	font-family: Aclonica;
	text-align: left;
	font-size: 16px;
	letter-spacing: -2;
	line-height: px;
}

.e2_36 { 
	width: 262px;
	height: 247.19424438476562px;
	position: absolute;
	left: 131px;
	top: 1949px;
}

.e2_37 { 
	color: rgba(0, 0, 0, 1);
	width: 184px;
	height: 30.091211318969727px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Inria Serif;
	text-align: left;
	font-size: 25px;
	letter-spacing: 0;
}

.e2_38 { 
	color: rgba(0, 0, 0, 1);
	opacity: 0.800000011920929;
	width: 262px;
	height: 183.5219268798828px;
	position: absolute;
	left: 0px;
	top: 36.56929016113281px;
	font-family: Aclonica;
	text-align: left;
	font-size: 16px;
	letter-spacing: -2;
	line-height: px;
}

.e2_39 { 
	width: 361px;
	height: 386px;
	position: absolute;
	left: 181px;
	top: 1377px;
}

.e2_40 { 
	color: rgba(0, 0, 0, 1);
	width: 295px;
	height: 35.60519027709961px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: Aclonica;
	text-align: left;
	font-size: 25px;
	letter-spacing: 0;
}

.e2_41 { 
	color: rgba(0, 0, 0, 1);
	opacity: 0.800000011920929;
	width: 361px;
	height: 339px;
	position: absolute;
	left: 0px;
	top: 46.732398986816406px;
	font-family: Aclonica;
	text-align: left;
	font-size: 16px;
	letter-spacing: -2;
	line-height: px;
}

.2_2, .2_13, .2_14, .2_26, .2_41 { 
	border: 1px solid rgba(255, 255, 255, 1);
}

.e2_2, .e2_13, .e2_14, .e2_26, .e2_41 { 
	width: 350px;
	height: 0px;
	position: absolute;
	left: 0px;
	top: 62.59267044067383px;
}
